.idea/
*.iml
out/

target/
!.mvn/wrapper/maven-wrapper.jar

logs/
*.log

.DS_Store
Thumbs.db

.env
.env.*
application-local.yml
application-secret.yml

secret.key
*.pem
*.p12
*.jks

.sonar/
coverage/
jacoco.exec
/site/
surefire-reports/
failsafe-reports/

docker-data/
postgres-data/

.vscode/

cucumber-reports/
*.html

*.tmp
*.swp
*.bak